# ---> VisualStudioCode
.vscode/*
# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Remove use log
*.log

*scmd-Linux-aarch64
*scmd-MINGW64_NT-10.0-19045-x86_64
*run-scmd.bash
*scmd-Linux-x86_64
*.env
.local