<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        .vertical-menu {
            width: 50%;
        }
  
        .vertical-menu button {
            background-color: #eee;
            color: black;
            display: block;
            padding: 2px;
            text-decoration: none;
            width: 50%;
        }
  
        .vertical-menu button:hover {
            background-color: #ccc;
        }
  
        .vertical-menu button.active {
            background-color: #0d6efd;
            color: white;
        }
    </style>
    <title>{{.PageTitle}}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg p-3 mb-2 bg-primary text-white" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand fw-bold" href="/">{{.PageTitle}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active fw-bold" aria-current="page" href="/">Home</a>
              </li>
              {{if .Insert}}
                <li class="nav-item">
                  <a class="nav-link active fw-bold" aria-current="page" href="/add">Add</a>
                </li>
                {{end}}
              <li class="nav-item">
                <a class="nav-link active fw-bold" aria-current="page" href="/help">Help</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active fw-bold" aria-current="page" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

          <div class="container-fluid mt-3">
            Version: {{.Version}}
          </div>
          <hr>
          <div class="container px-1 py-4" id="featured-3">
            <div class="row g-4 py-1 row-cols-1 row-cols-lg-3">

              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
                </div>
                <h3 class="fs-2">SCMD</h3>
                <p>Search Command (SCMD) Start your query by inputing your search criteria in the searchbar. Search based on comma or space separated pattern(s)</p>
                <form action="/">
                  <button type="submit">Search</button>
              </form>
              </div>

              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
                </div>
                <h3 class="fs-2">Version</h3>
                <p>Version helps to show the current version of the application and also shows if there is a newer version only available to download.</p>
                <form method="post" autocomplete="off">
                  <button type="submit">Version</button>
                  <input autocomplete="false" name="hidden" type="hidden" id="version" name="version" value="version">
              </form>
              </div>

              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                </div>
                <h3 class="fs-2">Upgrade</h3>
                <p>Upgrade will check <a href="https://github.com/gcclinux/scmd">https://github.com/gcclinux/scmd</a> to see if there is a new version of the application available and if there is, it will download and upgrade it.</p>
                <form method="post" autocomplete="off">
                  <button type="submit">Upgrade</button>
                  <input autocomplete="false" name="hidden" type="hidden" id="upgrade" name="upgrade" value="upgrade">
              </form>
              </div>
            </div>
          </div>

          <div class="container px-1 py-4" id="featured-3">
            <div class="row g-4 py-1 row-cols-1 row-cols-lg-3">

              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                </div>
                <h3 class="fs-2">Download (scmd)</h3>
                <p>Download the last compiled version of the application from <a href="https://github.com/">https://github.com/</a> so that you can run your own version locally with your own commands.</p>
                <form action="https://github.com/gcclinux/scmd/releases/tag/latest">
                  <button type="submit">App Download</button>
              </form>
              </div>

              <!-- <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                </div>
                <h3 class="fs-2">Download (DB)</h3>
                <p>Download the lastest version of the commands and fucntion database from <a href="https://github.com/">https://github.com/</a> allowing you to start with a full list and start adding your own.</p>
                  <button onclick="downloadFile()">DB Download</button>
              </div> -->

              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                </div>
                <h3 class="fs-2">CLI Help</h3>
                <p>CLI Help provides a list of commands and syntax to help individuals using SCMD via command line when web interface is not available.</p>
                <form method="post" autocomplete="off">
                  <button type="submit">CLI Help</button>
                  <input autocomplete="false" name="hidden" type="hidden" id="cli" name="cli" value="cli">
              </form>
              </div>

            </div>
          </div>

          {{if .AllData}}
          <div class="bg-dark text-white ms-5 ps-5 me-5 pe-5">
            {{$odd := true}}
              {{range $data := .AllData}}
                {{if $odd}}
                    <B>{{ $data }}</B><BR>
                {{else}}
                <I>{{ $data }}</I><BR>
                {{end}}
              {{$odd = not $odd}}
            {{end}}
            <p> &nbsp; </p>
          </div>
        {{end}}

        <script>
          function downloadFile() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'https://raw.githubusercontent.com/gcclinux/scmd/main/tardigrade.db', true);
            xhr.responseType = 'blob';
          
            xhr.onload = function() {
              if (xhr.status === 200) {
                var url = window.URL.createObjectURL(xhr.response);
                var a = document.createElement('a');
                a.href = url;
                a.download = 'tardigrade.db';
                document.body.appendChild(a);
                a.click();
                setTimeout(function() {
                  document.body.removeChild(a);
                  window.URL.revokeObjectURL(url);  
                }, 0);
              }
            };
          
            xhr.send();
          }
          </script>

          <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1/dist/es-module-shims.min.js" crossorigin="anonymous"></script>
          <script type="importmap">
          {
            "imports": {
              "@popperjs/core": "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/esm/popper.min.js",
              "bootstrap": "https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.esm.min.js"
            }
          }
          </script>
          
          <script type="module">
            import * as bootstrap from 'bootstrap'

            new bootstrap.Popover(document.getElementById('popoverButton'))
          </script>
</body>
</html>