<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.PageTitle}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      textarea {overflow-y:scroll;}
    </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg p-3 mb-2 bg-primary text-white" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">(NEW)</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active fw-bold" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active fw-bold" aria-current="page" href="/add">Add</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active fw-bold" aria-current="page" href="/help">Help</a>
            </li>
          </ul>
          <span class="navbar-text">
            Version: {{.Version}}
          </span>
        </div>
      </div>
    </nav>
        <hr>
        <form action="/add" method="post" autocomplete="off">
          <div class="position-relative text-center">
            <BR>
            <H5>Start adding your own commands or functions you wish to save, either local or remote.</H5>
            <H6><i>Please be as descriptive as possible, indentation, punctuation in full details </H6>
            <H6>remotely bad description, commands, functions will be deleted!</i></H6>
            <BR>
          </div>
              <label for="command" class="ms-3 form-label"><B>Enter Full Command Syntax</B> - Example: <i>$ go get -u github.com/gcclinux/scmd</i></label>
              <div class="input-group flex-nowrap">
                  <span class="ms-3 input-group-text" id="addon-wrapping">CMD</span>
                  <textarea rows="4" cols="50" class="form-control gap-3" name="command" id="command" aria-describedby="addon-wrapping"></textarea>
                  <input autocomplete="false" name="hidden" type="hidden" name="command">
              </div>
              <BR>
              <label for="description" class="ms-3 form-label"><B>Enter Full Command Description</B> - Example: <i>Download specific & available code or application from github</i></label>
              <div class="input-group flex-nowrap">
                  <span class="ms-3 input-group-text" id="addon-wrapping">INFO</span>
                  <input type="text" class="form-control gap-3" name="description" id="description" aria-describedby="addon-wrapping">
                  <input autocomplete="false" name="hidden" type="hidden" id="description" name="description">
              </div>
            <BR>
          <button class="ms-3 mt-3 btn bg-primary text-white" type="submit">Submit</button>
        </form>
        <div class="container-fluid mt-3">
              <BR><B>{{.Return}}</B><i>{{.Status}}</i>
              <BR><B>{{.DescTitle}}</B><I>{{.Data}}</I>
              <BR><B>{{.CmdTitle}}</B><I>{{.Key}}</I><BR>
        </div>
  </body>
</html>